<body>
    <head>
        <h1><%=title %></h1>
    </head>
    <div role="main">
        <p><%-content %></p>
        <% /* フォームを用意 */ %>
        <form action="/" method="post">
        <p><input type="text" name="message">
            <input type="submit" value="送信"></p>
        </form>
    </div>
</body>

